# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
01-frontend/node_modules/ # 為了更明確
02-backend/node_modules/ # 為了更明確

# next.js
01-frontend/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
01-frontend/.env.local
02-backend/.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
